:root {
  --color1: #f1e3e3;
  --color2: #d0a9be;
  --color3: #cba3be;
  --color4: #a682ae;
  --color5: #a090b5;
  --color6: #7d6a97;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color1);
  overflow-x: hidden;
}
